.grid-content .ui-block-a {
    width: 40%;
}

@media all and (max-width: 1000px) {
	.grid-content .ui-block-a,
	.grid-content .ui-block-b {
		width: 100%;
		float: none;
	}
}


@media all and (max-width: 400px) {
    .grid-value .ui-block-c,
    .grid-value .ui-block-d {
        width: 100%;
        float: none;
    }
}

.top-content {
    background-color: #fafafa;
    background-image: url("resources/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    height: 100%;
    width: 100%;
}

.ui-body-a {
    background-color: rgba(255,255,255, 0.60);
    padding: 20px 20px 20px 20px;
}

.text-value {
    padding-left: 10px;
    color:#436DBA;
}

.ui-grid{
    padding: 0;
    margin: 0;
    height: 100%;
}

.panel{
    background-color: rgba(255,255,255, 0.80);
    padding: 10px 10px 10px 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 3px #000000;
}

.warning{
    color: #A10342;
    margin: 2px 2px 2px 2px;
 }

#lockPanel{
    background-color: rgba(0,0,0, 0.80);
    position:absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    display: none;
}